<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>

     <config>
        <add key="signatureValidationMode" value="require" />
    </config>

    <trustedSigners>
        <author name=".NET Foundation">
            <certificate fingerprint="5239ED72660A95507B98A93F7DF874C9FFE1AEDF94E82084CEF79C67444EC805" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
        </author>
        <author name="Microsoft Corporation">
            <certificate fingerprint="AA12DA22A49BCE7D5C1AE64CC1F3D892F150DA76140F210ABD2CBFFCA2C18A27" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
        </author>
        <author name="NuGet.org Repository by Microsoft">
            <certificate fingerprint="0E5F38F57DC1BCC806D8494F4F90FBCEDD988B46760709CBEEC6F4219AA6157D" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
        </author>
    </trustedSigners>

    <packageSourceMapping>
        <packageSource key="nuget.org">
            <!-- Used by github action -->
            <package pattern="cyclonedx" />

            <!-- Used by project -->
            <package pattern="refit" />
            <package pattern="System.Text.*" />
            <package pattern="System.Net.Http.Json" />
        </packageSource>
    </packageSourceMapping>
</configuration>
