<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="test" value="https://google.com" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="test">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
